.LineComponent {
    --line-width: 2px;
    --line-color: #3aa5de;
}

.LineComponent:hover {
    --line-width: 3px;
    --line-color: #3aa5de;
}

.highlight-in {
    --line-width: 3px;
    --line-color-to: #FFFFFF;
}
